body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow: hidden;
}




header {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  padding: 20px;
  text-align: center;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

h1 {
  margin: 0;
}

#dogman-info {
  position: relative;
  z-index: 1;
  display: flex;
  margin: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  overflow: hidden;
}

#dogman-books {
  flex: 1;
  padding: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  overflow-y: auto;
  max-height: calc(100vh - 140px); /* Adjusted to fit header and padding */
}

#dogman-books::-webkit-scrollbar {
  width: 8px;
}

#dogman-books::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

#dogman-books::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.2);
}

#dogman-details {
  flex: 2;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  overflow-y: auto;
  max-height: calc(100vh - 140px); /* Adjusted to fit header and padding */
}

#dogman-details::-webkit-scrollbar {
  width: 8px;
}

#dogman-details::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

#dogman-details::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.2);
}

.dogman-book {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.dogman-book:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

h2 {
  color: rgba(255, 255, 255, 0.9); /* Light text color */
}

p {
  color: rgba(255, 255, 255, 0.7); /* Light text color */
}

